<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>dev.yeksax.lattice</string>
	<key>ProgramArguments</key>
	<array>
		<string>__HOME__/.local/bin/lattice</string>
		<string>serve</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>StandardOutPath</key>
	<string>__HOME__/.summaries/.lattice/lattice.log</string>
	<key>StandardErrorPath</key>
	<string>__HOME__/.summaries/.lattice/lattice.log</string>
</dict>
</plist>
